# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
apps/**/.nuxt
apps/**/.output
**/dist

# Node dependencies
node_modules
**/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
/.simple-git-hooks

# Local env files
.env
.env.*
!.env.example
